@font-face {
    font-family: 'VT323 Regular';
    src: url('../fonts/VT323-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Lexend Regular';
    src: url('../fonts/Lexend-Regular.ttf') format('truetype');
}